{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Blog Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/jensfrost" data-pjax>
    <i class="fa fa-user"></i>Who am I?
  </a>
</li>
<!--
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
-->
<li class="drawer-list-divider"></li>
</li>
<li class="drawer-list-item drawer-list-title">
  Get in touch
</li>
<li class="drawer-list-item">
  <a href="mailto:post@j-frost.dk" target="_blank">
    <i class="fa fa-envelope"></i>Email
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/Frostar" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.linkedin.com/in/jensfrost" target="_blank">
    <i class="fa fa-linkedin"></i>LinkedIn
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/Jens_Frost" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.last.fm/user/Jens_Frost" target="_blank">
    <i class="fa fa-lastfm"></i>LastFm
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.snapchat.com/add/jens_frost" target="_blank">
    <i class="fa fa-snapchat-ghost"></i>Snapchat
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.instagram.com/jens_frost/" target="_blank">
    <i class="fa fa-instagram"></i>Instagram
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://untappd.com/user/Frostarz" target="_blank">
    <i class="fa fa-beer"></i>Untappd
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://open.spotify.com/user/113319051" target="_blank">
    <i class="fa fa-spotify"></i>Spotify playlists
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://soundcloud.com/jens-frost" target="_blank">
    <i class="fa fa-soundcloud"></i>SoundCloud
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item">
  <a href="https://AmIDumb.com/" target="_blank">
    <i class="fa fa-question"></i>
  </a>
</li>
